.login-page {
    font-size: 1.2rem;
    height: 100vh;
    width: auto;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    -webkit-animation: gradient 15s ease infinite;
    animation: gradient 15s ease infinite;
}

@-webkit-keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.login-form {
    background-color: var(--secondary-color-light);
    border-radius: 30px;
    margin: 0 auto;
    min-width: var(--min-width-form);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form h1 {
    font-weight: 700;
    font-size: 2em;
    text-align: center;
    margin-bottom: 10px;
}

.input-box {
    height: 48px;
    min-width: var(--nearest-min-width-form);
    margin: 8px 0;
}

.input-box {
    display: flex;
    align-items: center;
}

.input-box svg {
    margin-right: 8px;
}

.for-username,
.for-password {
    width: 100%;
    height: inherit;
    outline: none;
    border-radius: 40px;
    padding: 0 10px;
    border: 1px solid #ccc;
}

.for-username::placeholder,
.for-password::placeholder {
    color: #b2b2b2;
}

.detail-instruction {
    min-width: var(--nearest-min-width-form);
    padding: 0 6px;
}

.detail-instruction span {
    font-size: 1.1rem;
    color: rgb(123, 123, 123);
    float: right;
}

.detail-instruction span a {
    color: var(--purple-weight-light);
}

.btn-groups {
    display: flex;
    margin: 10px 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: var(--nearest-min-width-form);
}

.btn-groups button {
    border: none;
    padding: 10px 20px;
    background: var(--purple-weight-light);
    color: #fff;
    width: calc((var(--nearest-min-width-form) - 20px) / 2);
    margin: 8px;
    border-radius: 40px;
    cursor: pointer;
    font-weight: 700;
    outline: none;
}

button:nth-child(1) {
    background: #eee;
    color: var(--purple-weight-light);
}

.other-login,
.social-login {
    min-width: var(--nearest-min-width-form);
    display: flex;
    justify-content: space-around;
}

.other-login span {
    color: #a7a7a7;
}

hr {
    width: 120px;
}

.social-login {
    margin: 10px 0;
    margin-bottom: 50px;
}

.social-login svg {
    cursor: pointer;
}

.social-login svg:nth-child(1) {
    color: blue;
}