.register-page {
    font-size: 1.2rem;
    height: 100vh;
    width: auto;
    background: linear-gradient(-135deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    -webkit-animation: gradient 15s ease infinite;
    animation: gradient 15s ease infinite;
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 0px;
}

@-webkit-keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.register-layout {
    background: rgba(0, 0, 0, 0.237);
    padding: 10px 16px;
    display: grid;
    grid-gap: 10px;
    grid-template-rows: auto auto auto;
}

.register-layout h1 {
    color: #fff;
    font-weight: bold;
}

.register-layout p,
.register-layout h2,
.register-layout span {
    color: #fff;
}

h2 {
    text-align: center;
    margin: 16px 0;
}

.register-layout p {
    font-style: italic;
    font-size: 1.3rem;
    text-align: center;
    margin: 4px 0;
}

.register-layout div:nth-child(1),
.register-layout div:nth-child(3) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-layout div:nth-child(3) {
    flex-direction: column;
}

.register-layout div:nth-child(3) span {
    margin: 10px 0;
}

.register-form {
    background-color: var(--secondary-color-light);
    position: relative;
    padding: 10px;
}

.for-confirm-password,
.for-email {
    width: 100%;
    height: inherit;
    outline: none;
    border-radius: 40px;
    padding: 0 10px;
    border: 1px solid #ccc;
}

.for-confirm-password::placeholder,
.for-email::placeholder {
    color: #b2b2b2;
}

.register-btn-box {
    width: 100%;
    position: absolute;
    margin-bottom: 20px;
    padding: 10px;
    bottom: 0;
}

.register-btn-box .register-btn {
    width: 100%;
    height: 50px;
    border-radius: 30px;
    color: #fff;
    background-color: var(--purple-weight-light);
    outline: none;
    border: none;
    cursor: pointer;
}

.register-form h1 {
    text-align: center;
    font-weight: 700;
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
    background-clip: text;
    color: transparent;
    margin: 10px 0;
    line-height: inherit;
}

.register-form-d1 {
    margin-top: 24px;
    padding: 16px;
}

.register-form-d1 p {
    color: #767676;
    margin: 16px 8px;
}

.register-form-d1 p a {
    color: var(--purple-weight-light);
    font-weight: bold;
}

.input-wrap {
    width: 100%;
    height: inherit;
}

small {
    color: rgba(255, 0, 0, 0.634);
    font-weight: 600;
    font-size: 0.8rem;
    margin: 2px 0px 2px 2px;
}

/* style xu ly thong bao loi va focus input */
.input-box {
    margin-bottom: 20px;
    /* Khoảng cách giữa các input */
}

.error-message {
    display: none;
    /* Ẩn thông báo lỗi mặc định */
}

.input-box.error .error-message {
    display: block;
    /* Hiển thị thông báo lỗi khi có lỗi */
}

.input-box.focused {
    margin-bottom: 8px;
    /* Khoảng cách giữa input và thông báo lỗi khi focus vào input */
}