* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.side_menu {
  background-color: var(--secondary-color-light);
  box-shadow: 0 2px 7px var(--purple-light);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  max-width: 75px;
  min-width: 75px;
  z-index: 9;
}

.logo {
  line-height: 70px;
}

.nav-list {
  list-style: none;
}

.nav-item {
  margin: 2px 0;
  cursor: pointer;
}

.nav-link {
  border-radius: 8px;
  color: #878a92;
  font-size: 24px;
  height: 56px;
  line-height: 56px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  width: 56px;
}

.nav-link:hover {
  color: var(--purple-weight-light);
}

.is-active {
  color: var(--purple-weight-light);
  background-color: #ededfa;
}

.nav-link .profile-user {
  background-color: #f0eff5;
  height: 36px;
  width: 36px;
  /* user-select: none; */
  border: solid var(--purple-weight-light);
}

.dropdown-position {
  position: absolute;
  inset: auto auto 0px 0px;
  transform: translate3d(0px, -64px, 0px);
  border-radius: 8px;
}

.dropdown-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}