* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  padding: 0;
}

.side_menu {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(15, 34, 58, 0.12);
  height: 100vh;
  max-width: 75px;
  min-height: 570px;
  min-width: 75px;
  z-index: 9;
}

.logo {
  line-height: 70px;
}

.nav-list {
  list-style: none;
}

.nav-item {
  margin: 2px 0;
  cursor: pointer;
}



.nav-link {
  border-radius: 8px;
  color: #878a92;
  font-size: 24px;
  height: 56px;
  line-height: 56px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  width: 56px;
}

.nav-link:hover {
    color: rgba(114, 105, 239, 1);
  }

.is-active {
    color: rgba(114, 105, 239, 1);
    background-color: #f7f7ff;
  }

.nav-link .profile-user {
  background-color: #f0eff5;
  height: 36px;
  width: 36px;
  padding: 3px;
  user-select: none;
}

.dropdown-position {
  position: absolute;
  inset: auto auto 0px 0px;
  transform: translate3d(0px, -64px, 0px);
}

.dropdown-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
