* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.side_menu {
  background-color: var(--secondary-color-light);
  box-shadow: 0 2px 7px var(--purple-light);
  display: flex;
  height: 100vh;
  max-width: var(--default-size);
  min-height: 570px;
  min-width: var(--default-size);
  z-index: 9;
}

.logo {
  line-height: 70px;
  margin-top: 10px;
}

.nav-list {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

.nav-item {
  margin: 2px 0;
  cursor: pointer;
}

.nav-link {
  background: none;
  border: 0;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.nav-link {
  border-radius: 8px;
  color: #878a92 !important;
  font-size: 24px;
  height: 56px;
  line-height: 56px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  width: 56px;
}

.nav-link:hover {
  color: var(--purple-weight-light);
}

.side-menu-nav .nav-item .nav-link.is-active {
  color: var(--purple-weight-light) !important;
  background-color: #ededfa;
}

.profile-user {
  display: inline-block;
  position: relative;
}

.nav-link .profile-user {
  background-color: #f0eff5;
  height: 36px;
  width: 36px;
  border: solid var(--purple-weight-light);
}

.dropdown-divider {
  opacity: 1;
  border-top-color: #f0eff5;
}

.dropdowm-tools {
  margin-bottom: .125rem;
  margin-top: 0;
  top: auto;
  bottom: 100%;
}

.profile-user-dropdown.dropup .dropdown-menu {
  bottom: 52px !important;
  top: auto !important;
}